body {
    margin: 0px;
}

.headerEvaluacion {
    margin: none;
    background-color: aquamarine;
    height: 150px;
}

.mainEvaluacion {
    width: 980px;
    height: 680px;
}

.navEvaluacion {
    height: 60px;
    background-color: brown;
}

.articleEvaluacion {
    width: 580px;
    height: 680px;
}

.asideEvaluacion {
    width: 400px;
    height: 680px;
   position: absolute;
}

.footerEvaluacion {
     height: 80px;
}